@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

// colors
$slider-bar-color: hsl(174, 77%, 80%);
$slider-background-color: hsl(174, 86%, 45%);
$discount-background-color: hsl(14, 92%, 95%);
$discount-text-color: hsl(15, 100%, 70%);
$cta-text-color: hsl(226, 100%, 87%);
$pricing-component-background-color: hsl(0, 0%, 100%);
$main-background-color: hsl(230, 100%, 99%);
$empty-slider-bar-color: hsl(224, 65%, 95%);
$toogle-background-color: hsl(223, 50%, 87%);
$text-color: hsl(225, 20%, 60%);
$cta-background-color: hsl(227, 35%, 25%);
$thumb-hover-color: hsl(176, 70%, 70%);
$thumb-active-color: hsl(174, 67%, 41%);

// fonts
$ff: "Manrope", sans-serif;
$fw-semi-bold: 600;
$fw-extra-bold: 800;
$fs-paragraph: 15px;
